In [2]:
import pandas as pd
import numpy as np

# Load the CSV file into a DataFrame
hf=pd.read_csv('C:/Users/ksrad/Downloads/Dr Amrisha Pandey.csv')
hf

,Authors,Author full names,Author(s) ID,Title,Year,Source title,Volume,Issue,Art. No.,Page start,Page end,Page count,Cited by,DOI,Link,Document Type,Publication Stage,Open Access,Source,EID
0,Pandey A.; Subedi S.P.,"Pandey, Amrisha (57195808234); Subedi, Surya P...",57195808234; 6602468552,Changing notions of sovereignty and governance...,2019,Journal of Water Law,26,4.0,NaN,167,181,14,0,NaN,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,NaN,Scopus,2-s2.0-85095851765
1,Subedi S.P.; Pandey A.,"Subedi, Surya P. (6602468552); Pandey, Amrisha...",6602468552; 57195808234,Legal Lamination to Transboundary Movement of ...,2022,Environmental Policy and Law,52,2.0,NaN,133,143,10,0,10.3233/EPL-219025,https://www.scopus.com/inward/record.uri?eid=2...,Conference paper,Final,All Open Access; Green Open Access,Scopus,2-s2.0-85130486687
2,Pandey A.,"Pandey, Amrisha (57195808234)",57195808234,Discussing the 'human right to water in India'...,2017,WIT Transactions on Ecology and the Environment,216,NaN,NaN,37,47,10,1,10.2495/WS170041,https://www.scopus.com/inward/record.uri?eid=2...,Article,Final,All Open Access; Bronze Open Access,Scopus,2-s2.0-85029859049

In [3]:
FIN=hf.drop(['Authors','Author(s) ID','Volume','Issue','Art. No.','Page start','Page end','Page count','DOI','Link','Document Type','Publication Stage','Open Access','Source','EID'],axis=1)

In [4]:
FIN.rename(columns = {'Cited by':'citations'}, inplace = True)
FIN['citations'].replace(np.nan, 0, inplace=True)

In [5]:
FIN

,Author full names,Title,Year,Source title,citations
0,"Pandey, Amrisha (57195808234); Subedi, Surya P...",Changing notions of sovereignty and governance...,2019,Journal of Water Law,0
1,"Subedi, Surya P. (6602468552); Pandey, Amrisha...",Legal Lamination to Transboundary Movement of ...,2022,Environmental Policy and Law,0
2,"Pandey, Amrisha (57195808234)",Discussing the 'human right to water in India'...,2017,WIT Transactions on Ecology and the Environment,1

In [6]:
citations = FIN.citations.values.tolist()
print(citations)

[0, 0, 1]

In [7]:
class Solution:
    def hIndex(self, citations: list[int]) -> int:
        citations.sort(reverse=True)
        
        for indx, citation in enumerate(citations):
            if indx >= citation:
                return indx
        return len(citations)

In [8]:
solution = Solution()
h_index = solution.hIndex(citations)
print("H-index:", h_index)

H-index: 1